/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Martel', serif; */


:root {
    --color-bg: #FFF0EB;
    --color-footer: #EBD4D1;
    --color-footer2: #DFBDB9;
    --color-text: #61504B;
    --color-clair: #FFF9F6;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Martel', serif;
    color: var(--color-text);
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: 'Catamaran', sans-serif;
}

h2 {
    font-size: 48px;
}

main {
    background-color: var(--color-bg);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* header */
header {
    width: 100%;
    height: 957px;
    background-image: url("img/bg header accueil.png");
    position: relative;
}

.barreHeader {
    width: min(1240px,80%);
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 75px;
}

.navLink {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAhBas {
    height: 75px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.barreHeader nav a, .iconHeader a {
    margin: 0 10px;
}


/* menu burger */

.menuBurger {
    display: none;
}

.menuBurger{
    cursor: pointer;
    width: 40px;
    /* margin: 31px 16px 0 0; */
    margin-right: 30px;

}

.menuBurger span {
    width: 40px;
    height: 6px;
    margin: 5px;
    border-radius: 61px;
    background-color: var(--color-footer2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menuBurger.active span:nth-child(2) {
    opacity: 0;
}

.menuBurger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menuBurger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.active {
    height: 90vh;
}


/* Mon main */

/* 1ere section */
.newArticles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newArticles div {
    background-color: var(--color-clair);
    display: flex;
    gap: 25px;
    padding: 39px;
}

.arrow {
    width: 111px;
    height: 111px;
}

/* 2eme section */

.collections {
    height: 685px;
    display: flex;
    align-items: center;
}

.collections div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 32px;
    font-weight: 600;
}


.extravagant {
    background-color: #BA8A70;
    align-self: flex-start;
}

.classic {
    width: 35%;
    background-color: #EBD4D1;
}

.classic img {
    width: 100%;
}

.casual {
    align-self: flex-end;
    background-color: #762625;
}

/* section journal */
.journal {
    width: 70%;
    background-color: var(--color-clair);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.journal img {
    padding: 25px;
}

.journal h3 {
    font-size: 48px;
    font-weight: 700;
}

.journal p {
    font-size: 24px;
}


/* end */

.desktop {
    width: min(1270px,80%);
}
.phone {
    display: none;
}

/* footer */
footer {
    background-color: var(--color-footer);
    display: flex;
    justify-content: space-between;
}

.footerText {
    width: 100%;
    padding: 60px 8% 75px 0;
    display: flex;
    justify-content: space-around;
}

.empty {
    width: 12.2%;
    background-color: var(--color-footer2);
    
}

.semibold {
    font-weight: bold;
    font-size: 20px;
}

.barreEmail {
    background-color: var(--color-bg);
    border: 2px solid var(--color-footer2);
}

.boutton {
    background-color: var(--color-footer2);
    border: none;
    color: var(--color-text);
    padding: 4px;
}





/* responsive */

@media (max-width: 990px) {

    /* header */
    .navLink {
        display: none;
    }

    .menuBurger{
        display: block;
    }

    .menuBurger span {
        display: block;
    }


    /* Le main */

    .journal {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .phone {
        display: block;
    }


    /* footer */
    .footerText {
        flex-direction: column;
    }

    footer form input {
        width: 100%;
        padding: 0;
    }

}