@media (max-width: 990px) {

    .navLink {
        display: none;
    }

    .menuBurger{
        display: block;
    }

    .menuBurger span {
        display: block;
    }

    .footerText {
        flex-direction: column;
    }

    footer form input {
        width: 100%;
        padding: 0;
    }

}