* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

:root {
    --color-bg: #FFF0EB;
    --color-footer: #EBD4D1;
    --color-footer2: #DFBDB9;
    --color-text: #61504B;
    --hauteur-menu: 60px;
}


body{
    background: var(--color-bg);
    font-family: 'Martel', serif;
}

h1,h2,h3{
    font-family: 'Catamaran', sans-serif;
}

 /* div,section,main,header,nav{
    border: 2px solid black; 
} */

main{
    width: min(1536px,100%);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

h1,h2,h3,h4 {
    font-family: 'Catamaran', sans-serif;
}

/* header */
header {
    height: 105vh;
    background: url("img/enteteCategorie.png") no-repeat;
    background-size: cover;
}

.barreHeader {
    width: min(1240px, 80%);
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 75px;
}

#logoAhBas {
    height: 75px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.barreHeader nav a,
.iconHeader a {
    margin: 0 10px;
}

.iconHeader{
    display: flex;
}

.menu nav{
    width: 100%;
    position: sticky;
    top: 0; 
}

.menu > ul{
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

.menu nav ul{
    list-style: none;
}

.menu nav > ul > li{
    position: relative;
    height: 100%;
    flex: 1;
}

.menu nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .deroulant > a::after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.menu .sousMenu{
    margin-top: var(--hauteur-menu);
    width: 50%;
    text-align: left;
    background-color: var(--color-bg);
    border-radius: 3px;
    overflow: hidden;
    max-height: 0;
}

.menu .sousMenu > li > a{
    height: 50px;
    padding-left: 20px;
    width: 100%;
}

.menu nav > ul > li:hover > a{
    color: var(--color-text);
} 

.menu .sousMenu > li:hover{
    background-color: rgba(244, 77, 146, 0.3);
}

.sousMenu > li:hover > a{
    color: var(--color-bg);
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }

.menu .deroulant:hover > a::after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu{
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #000000;
      }
      30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
      }
      100% {
        max-height: 50em;
        border-top: 3px solid #000000;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
}
}

.menu .deroulant:hover > .sousMenu{
    animation: apparitionSousMenu 1s forwards;
}


/* footer */
footer {
    background-color: var(--color-footer);
    display: flex;
    justify-content: space-between;
}

.footerText {
    width: 100%;
    padding: 60px 8% 75px 0;
    display: flex;
    justify-content: space-around;
}

.empty {
    width: 12.2%;
    background-color: var(--color-footer2);
    
}

.semibold {
    font-weight: bold;
    font-size: 20px;
}

.barreEmail {
    background-color: var(--color-bg);
    border: 2px solid var(--color-footer2);
}

.boutton {
    background-color: var(--color-footer2);
    border: none;
    color: var(--color-text);
    padding: 4px;
}


.produit{
    margin-top: 89px;
    margin-left: 69px;
    flex-wrap: wrap;
}

.norme{
    margin: auto;
    margin-bottom: 15%;
    width: 60%;
}

.produit .flex{
    justify-content: flex-start;
}

.flex .collant img{
    width: 60%;
}

.collant{
    gap: 50px;
    margin-top: 35px;
}

.produit .presentation{
    width: 741px;
}

.description{
    width: 40%;
}

.text{
    width: 390px;
    height: 321px;
    align-items: flex-start;
    gap: 30px;
    font-size: 20px;
}


.cercleRed{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: red;
}

.cerclePink{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: rgb(255, 44, 170);
}

.cercleYellow{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: rgb(241, 225, 11);
}

.cercleBlue{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: rgb(11, 203, 241);
}

.presentationProduit{
    gap: 40px;
}

button{
    width: 180px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    color: #762625;
    background-color: #DFBDB9;
    border: none;
}

.autreProduit{
    height: 500px;
}

.autreProduit div{
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 15%;
    gap: 25px;
}

